/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import '@angular/cdk/overlay-prebuilt.css';

:root{
    --cor-laranja1: #ff8e25;
    --cor-laranja2: #e47814;
    --cor-laranja3: #cc6504;
    --cor-laranja4: #ab5606;
    --cor-laranja5: #884200;
    --cor-azul1: #82c3d5;
    --cor-azul2: #3a74a8;
    --cor-azul3: rgb(11, 95, 168);
    --cor-azul4: #06335a;
    --cor-azul5: #184267;
    --cor-amarelo1: #e2c102;
    --cor-amarelo2: #c4a302;
    --cor-verde1: #69ae52;
    --cor-verde2: #4a8935;
    --cor-verde3: #357517;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    font-family: 'Roboto', sans-serif;

}
