.body {
    width: 100%;
    height: 100%;
    position: relative;
    transition: all .5 ease;
    background: #f4f7fa;
}

.body-trimed {
    width: calc(100% - 16.5625rem);
    margin-left: 16.5625rem;
}

.body-md-screen {
    width: calc(100% - 5rem);
    margin-left: 5rem;
}