.container {
  padding: 25px;
  color: #003893;
  font-family: "Roboto", sans-serif;
}

.title {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 25px;
}

/* Barra de busca */
.search-box {
  margin-bottom: 20px;
}

.search-box input {
  width: 100%;
  padding: 12px 14px;
  border-radius: 8px;
  border: 2px solid #003893;
  font-size: 16px;
  outline: none;
  transition: 0.3s;
}

.search-box input:focus {
  border-color: #F28C28;
  box-shadow: 0 0 6px rgba(242, 140, 40, 0.4);
}

/* Tabela */
.table-wrapper {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  background: #003893;
  color: white;
  padding: 12px;
  text-align: left;
}

td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
}

tbody tr:hover td {
  background-color: #f5f5f5;
}
