<div class="login-container">
    <div class="overlay"></div> 
    
    <div class="login-card">
        <img src="https://www.gov.br/prf/pt-br/noticias/estaduais/espirito-santo/2025/agosto/prf-lanca-campanha-nacional-para-divulgar-o-sistema-sinal-2013-desaparecidos/brasao_prf.png" alt="Logo PRF" class="logo" />
        <h1>Recuperar senha</h1>

        <div *ngIf="mensagemSucesso" class="alert-message">
            {{ mensagemSucesso }}
        </div>
        <form [formGroup]="ResetForm" (ngSubmit)="passwordReset()">
            <div class="input-group">
                <label for="email">Email</label>
                <input id="email" type="text" formControlName="email" placeholder="Digite seu email" />

                <div *ngIf="ResetForm.get('email')?.invalid && (ResetForm.get('email')?.dirty || ResetForm.get('email')?.touched)" class="error-message">
                    
                    <div *ngIf="ResetForm.get('email')?.errors?.['required']">
                        O email é obrigatório.
                    </div>
                    
                    <div *ngIf="ResetForm.get('email')?.errors?.['email']">
                        Insira um formato de email válido.
                    </div>
                </div>
            </div>

            <button type="submit" class="btn-primary">Enviar link de Recuperação</button>
        </form>

        <p class="register">
            Lembrou da sua senha? <a (click)="goToLogin(); $event.stopPropagation()">Voltar para o Login</a>
        </p>
    </div>

    <div id="autor">
        <p id="copy">&copy; 2025 DS2B TCC</p>
        <p id="copy2">Todos os direitos reservados.</p>
    </div>
</div>