<div class="login-container">
    <div class="overlay"></div> <div class="login-card">
      <img src="https://www.gov.br/prf/pt-br/noticias/estaduais/distrito-federal/2023/outubro/nota-de-esclarecimento-superintendencia-da-policia-rooviaria-federal-no-distrito-federal/prf.png" alt="Logo PRF" class="logo" />
      <button type="submit" class="btn-primary" form="register-form">Registrar e Entrar</button>
    </div>

    <div class="login-card">
        <div *ngIf="mensagem" class="alert-error">
            {{ mensagem }}
        </div>
        
        <form id="register-form" (ngSubmit)="registrar()">
            <div class="input-group">
                <label for="nome">Nome completo</label>
                <input id="nome" type="text" [(ngModel)]="nome" name="nome" placeholder="Digite seu nome" required />
            </div>

            <div class="input-group">
                <label for="cpf">CPF</label>
                  <input 
                  id="cpf" 
                  type="text" 
                  [(ngModel)]="cpf" 
                  name="cpf" 
                  placeholder="Digite seu CPF (apenas números)" 
                  required 
                  (input)="onCpfChange()"
                  maxlength="11"
                />
            </div>
            
<div class="input-group">
  <label for="email">E-mail</label>
  <input 
    id="email" 
    type="email" 
    [(ngModel)]="email" 
    name="email" 
    placeholder="Digite seu email" 
    required
    #emailControl="ngModel" 
  />

  <div class="error-message">
    <div *ngIf="emailControl.invalid && (emailControl.dirty || emailControl.touched)">
      
      <div *ngIf="emailControl.errors?.['required']">
        O E-mail é obrigatório.
      </div>
      
      <div *ngIf="emailControl.errors?.['email'] && !emailControl.errors?.['required']">
        Insira um formato de E-mail válido (ex: nome@dominio.com).
      </div>

    </div>
  </div>
</div>
            
            <div class="input-group">
                <label for="senha">Criar senha</label>
                <input id="senha" type="password" [(ngModel)]="senha" name="senha" placeholder="Digite sua senha" required />
            </div>

            <div class="input-group">
                <label for="confirmSenha">Confirmar senha</label>
                <input id="confirmSenha" type="password" [(ngModel)]="confirmSenha" name="confirmSenha" placeholder="Confirme sua senha" required />
            </div>
        </form>

        <p class="register">
            Já possui uma conta?
            <a (click)="goToLogin()">Login</a>
        </p>
        <p class="register">
            <a (click)="goToReset()"> Redefinir Senha?</a>
        </p>
    </div>
</div>